/** Josh W. Comeaus' CSS Reset **/

/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Allow percentage-based heights in the application */
html, body {
  height: 100%;
}
/* 
 * Typographic tweaks!
 * 4. Add accessible line-height
 * 5. Improve text rendering 
 */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Create a root stacking context */
#root, #__next {
  isolation: isolate;
}

/** Google Fonts **/

/* libre-baskerville-regular - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/libre-baskerville-v14-latin/libre-baskerville-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/libre-baskerville-v14-latin/libre-baskerville-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/libre-baskerville-v14-latin/libre-baskerville-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/libre-baskerville-v14-latin/libre-baskerville-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/libre-baskerville-v14-latin/libre-baskerville-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/libre-baskerville-v14-latin/libre-baskerville-v14-latin-regular.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}
/* parisienne-regular - latin */
@font-face {
  font-family: 'Parisienne';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/parisienne-v13-latin/parisienne-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/parisienne-v13-latin/parisienne-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/parisienne-v13-latin/parisienne-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/parisienne-v13-latin/parisienne-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/parisienne-v13-latin/parisienne-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/parisienne-v13-latin/parisienne-v13-latin-regular.svg#Parisienne') format('svg'); /* Legacy iOS */
}

/** elements **/
a {
  color: #B9A18A;
}

a:hover, a:focus, a:active {
  color: #8E7C6A;
}

body {
  font-family: 'Libre Baskerville', serif;
  background-color: #1C1C1C;
  color: #F9F7F5;
  text-align: center;
}

/* 
 * great post on setting min font size 
 * https://stackoverflow.com/questions/23984629/how-to-set-min-font-size-in-css 
 */
h3 {
  font-size: calc(24px + 3vw);
}

/* why I set display: inline-block
 * https://stackoverflow.com/questions/44433580/margin-is-set-to-zero-but-it-still-showing 
 */
img {
  display: inline-block;
}

p {
  text-align: left;
  font-size: 16px;
  hyphens: auto;
}

/** classes **/

/* 
 * why I added min-height 
 * https://stackoverflow.com/questions/64277674/expanding-a-div-with-content-without-moving-elements-below-it
 *
 * why I added display
 * inline-flex: https://coryrylan.com/blog/css-gap-space-with-flexbox 
 *
 * useful post about inline-flex vs flex
 * https://stackoverflow.com/questions/27418104/whats-the-difference-between-displayinline-flex-and-displayflex
 */
.btn-container {
  margin: 20px;
  min-height: 5rem;
  display: inline-flex;
}

.credits-container {
  padding: 10px;
  text-align: left;
}

.custom-btn-inner {
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  background-color: #B9A18A;
  color: #1C1C1C;
  border-radius: 4px;
  border: none;
  margin: 10px;
  width: 250px;
  min-height: 50px;
}

.custom-btn-outer {
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  background-color: #B9A18A;
  color: #1C1C1C;
  border-radius: 4px;
  border: none;
  margin: 10px;
  width: 250px;
  height: 50px;
}

.custom-btn-inner:hover, .custom-btn-outer:hover {
  font-size: 24px;
}

.custom-btn-inner:active, .custom-btn-outer:active {
  background-color: #8E7C6A;
}

.footer-container {
  padding: 10px;
}

.header {
  display: flex, inline;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: auto;
}

.icon-col {
  padding: 0;
  align-items: center;
}

/* 
 * heavily modified from an answer to this post by Kees Sonnema:
 * https://stackoverflow.com/questions/18142461/horizontal-rule-with-an-image-centered
 */
.line {
  height: 1px;
  margin: 0;
  padding: 0;
  background-color: #F9F7F5;
  border: 1px solid #F9F7F5;
  border-collapse: collapse;
}

.line-container {
  padding: 0;
}

/*
 * how I knew how to change the color of the hamburger menu icon
 * https://stackoverflow.com/questions/42586729/how-can-i-change-the-bootstrap-4-navbar-button-icon-color
 *
 * this was also helpful for clearing up some foncusion about hex to rgba in js
 * https://stackoverflow.com/questions/7015302/css-hexadecimal-rgba
 */
.navbar {
  font-size: 20px;
  display: inline-block;
  position: relative;
  margin-bottom: 50px;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(249, 247, 245, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-navbar-toggler-border-color: none;
}

/* 
 * why I knew how to edit the collapsed menu
 * https://stackoverflow.com/questions/41896043/bootstrap-4-collapsed-navbar-background-color 
 */

/* change navbar-toggler inside lines color (stroke) */
.navbar-light span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='yellow' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: white;
}

/* change navbar background on collapse */
@media (max-width: 768px) {
  nav.navbar {
    background: #1C1C1C;
  }
}

/*
 * how I knew how to get rid of black outline when I clicked on hamburger menu 
 * https://stackoverflow.com/questions/50668594/remove-border-color-for-navbar-toggler-hamburger-icon-in-bootstrap-using-css
 */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: #B9A18A;
    box-shadow: none;
}

.nav-link, .nav-link-item {
  color: #F9F7F5;
}

.nav-link {
  border-radius: 5px;
  margin: 0 20px;
}

.nav-link.selected {
  color: #F9F7F5;
  background-color: none;
  border-color: none;
  text-decoration: underline #F9F7F5;
  text-underline-offset: 3px;
}

.nav-link:hover, .nav-link:focus, .nav-link.selected:hover, .nav-link.selected:focus {
  background-color: #B9A18A;
  border-radius: 5px;
  color: #F9F7F5;
}

.nav-link:active, .nav-link.selected:active {
  background-color: #8E7C6A;
  color: #F9F7F5;
}

.photo-gallery-image {
  width: 375px;
  height: 280px;
  padding: 10px 5px;
}

.social-container {
  display: flex;
}

.social-logo {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.subtitle, h3 {
  font-family: 'Parisienne', sans-serif;
}

/* 
 * great post on setting min font size 
 * https://stackoverflow.com/questions/23984629/how-to-set-min-font-size-in-css 
 */
.title {
  font-size: calc(24px + 5vw);
}

/** ids **/
#navbar-toggler-icon {
  border-color: #F9F7F5;
  color: #F9F7F5;
}

#navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}